body {
  background: url(https://i.ibb.co/BnLZV0d/2u6mofasdfadas.png);
}

.boton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 200px;
  padding-left: 3px;
}

.cuerpo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

span.boton1 {
  background-image: url(https://i.ibb.co/qx18yLn/mytyelllow4.png);
  background-repeat: no-repeat;
  display: block;
}

span.boton1:hover img {
  visibility: hidden;

}
